<h2><input class="input-block-level" type="text" ng-model="ctrl.subProduct.name" ng-model-options="{ updateOn: 'blur'}"></input></h2>
<p class="text-muted"><input class="input-block-level" type="text" ng-model="ctrl.subProduct.description" ng-model-options="{ updateOn: 'blur'}"></input></p>
<p class="text-muted"><input class="input-block-level" type="number" ng-model="ctrl.subProduct.price" ng-model-options="{ updateOn: 'blur'}"></input></p>
<button type="submit" ng-click="ctrl.editModeOff()" class="btn btn-default">UPDATE</button>
