{{ctrl.subProducts}}
<div class="container">
  <div data-index="{{$index}}" ng-repeat="subProductSet in ctrl.chunkedSetData track by $index">
	  <div class="row">
      {{subProductSet}}
      <div  ng-repeat="subProduct in subProductSet">

	      <div class="col-xs-6 col-sm-4 col-lg-4">
			    <div class="thumbnail">
				    <img src="{{subProduct.photo}}">
            <div ng-if="subProduct.editMode">
              <edit-sub-product id="subProduct" toggleEditMode="offEditMode()"></edit-sub-product>
            </div>
            <div ng-if="subProduct.editMode == false">
				      <div class="caption panel-body">
					      <h3>{{subProduct.name}}{{subProduct.id}}</h2>
					      <p class="text-muted">{{subProduct.description}}</p>
                <p class="text-muted">{{subProduct.price}}</p>
                <a href="" ng-click="subProduct.editMode = true" class="btn btn-default btn-mini"><span class=""></span></a>
				      </div>
            </div>
			    </div>
		    </div>
      </div>
    </div>
	</div>
</div>

<style type="text/css">
body {
		background-color: rgba(0, 0, 0, 0.03);
		padding-top: 15px;
	  font-family: 'Lato', sans-serif;
	}

/* make gutter sizes consistent */
.flex-row  {
    padding-left: 15px;
    padding-right: 15px;
}
