<div class="container">
  <div data-index="{{$index}}" ng-repeat="subProduct in ctrl.subProducts | chunkBy: 3">
	  <div class="row">
	    <div class="col-xs-6 col-sm-4 col-lg-4" ng-if="subProduct[0]">
			  <div class="thumbnail">
				  <img src="{{subProduct[0].photo}}">
          <div ng-if="subProduct[0].editMode">
            <edit-sub-product id="subProduct[0]" offToggleEditMode="ctrl.offEditMode(subProduct[0])"></edit-sub-product>
          </div>
          <div ng-if="subProduct[0].editMode == false">
				    <div class="caption panel-body">
				      <h3>{{subProduct[0].name}}{{subProduct[0].id}}</h2>
				      <p class="text-muted">{{subProduct[0].description}}</p>
              <p class="text-muted">{{subProduct[0].price}}</p>
              <a href="" ng-click="subProduct[0].editMode = true" class="btn btn-default btn-mini"><span class=""></span></a>
				    </div>
          </div>
			  </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-4" ng-if="subProduct[1]">
        <div class="thumbnail">
          <img src="{{subProduct[1].photo}}">
          <div ng-if="subProduct[1].editMode">
            <edit-sub-product id="subProduct[1]" offToggleEditMode="ctrl.offEditMode(subProduct[1])"></edit-sub-product>
          </div>
          <div ng-if="subProduct[1].editMode == false">
            <div class="caption panel-body">
              <h3>{{subProduct[1].name}}{{subProduct[1].id}}</h2>
              <p class="text-muted">{{subProduct[1].description}}</p>
              <p class="text-muted">{{subProduct[1].price}}</p>
              <a href="" ng-click="subProduct[1].editMode = true" class="btn btn-default btn-mini"><span class=""></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-4" ng-if="subProduct[2]">
        <div class="thumbnail">
          <img src="{{subProduct[2].photo}}">
          <div ng-if="subProduct[2].editMode">
            <edit-sub-product id="subProduct[2]" offToggleEditMode="ctrl.offEditMode(subProduct[2])"></edit-sub-product>
          </div>
          <div ng-if="subProduct[2].editMode == false">
            <div class="caption panel-body">
              <h3>{{subProduct[2].name}}{{subProduct[2].id}}</h2>
              <p class="text-muted">{{subProduct[2].description}}</p>
              <p class="text-muted">{{subProduct[2].price}}</p>
              <a href="" ng-click="subProduct[2].editMode = true" class="btn btn-default btn-mini"><span class=""></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<style type="text/css">
body {
		background-color: rgba(0, 0, 0, 0.03);
		padding-top: 15px;
	  font-family: 'Lato', sans-serif;
	}

/* make gutter sizes consistent */
.flex-row  {
    padding-left: 15px;
    padding-right: 15px;
}
