<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Services
        <br><small class="text-info">Here are some of the products & services we offer</small>
      </h1>
		</div>
	</div>
</div>
<br>
<div class="container">
  <div ng-repeat="product in ctrl.products | chunkBy: 3 track by $index">
	  <div class="row">
	    <div class="card-format col-md-4" ng-if="product[0]">
			  <div class="thumbnail">
			    <img src="{{product[0].photo}}">
			    <div class="caption">
				    <h3>{{product[0].name}}</h2>
				    <p class="flex-text">{{product[0].description}}</p>
				    <p><a class="btn btn-primary" href="" ng-click="ctrl.goToSelected(product[0].id)">View products!</a></p>
			    </div>
			  </div>
		  </div>
			<div class="card-format col-md-4" ng-if="product[1]">
				<div class="thumbnail">
					<img src="{{product[1].photo}}">
					<div class="caption">
						<h3>{{product[1].name}}</h2>
						<p class="flex-text">{{product[1].description}}</p>
						<p><a class="btn btn-primary" href="" ng-click="ctrl.goToSelected(product[1].id)">View Products!</a></p>
					</div>
				</div>
			</div>
			<div class="card-format col-md-4" ng-if="product[2]">
				<div class="thumbnail">
					<img src="{{product[2].photo}}">
					<div class="caption">
						<h3>{{product[2].name}}</h2>
						<p class="flex-text">{{product[2].description}}</p>
						<p><a class="btn btn-primary" href="" ng-click="ctrl.goToSelected(product[2].id)">View Products!</a></p>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>


<!--"card-format col-xs-4 col-sm-4 col-lg-4"-->



<style type="text/css">
