/*
.flex-row  {
    padding-left: 15px;
    padding-right: 15px;
}
.thumbnail {
  background-color: #343434;
}
.card-format {
    padding: 10px;
	  font-family: 'Lato', sans-serif;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid transparent;
	}
*/
.navbar {
  margin:0px;
}

nav {
  margin-bottom: 0px;
}

.jumbotron {
background-image: url("/system/slides/Slide1.jpg");
background-size: cover;
height: 315px;
}

.jumbotron .jumbotron-text{
  padding-top: 170px;
  color: #ffffff;
  text-align: center;
}

.white-text {
  color: #343434;
}

.custom-red {
  color: #00FFFF;
}

body.ng-scope {
  padding-top:0px;
  margin-top: 0px;
  background-color: #99CD4E;
}

.btn-default {
  color: #343434;
  background-color: #fff;
  border-color: #343434;
}

a.btn.btn-primary {
  color: #343434;
  background-color: #fff;
  border-color: #343434;
}

a.btn-primary:hover {
  color: #343434;
  //color: #fff;
  background-color: #99CD4E;
  border-color: #343434;
}

.card-format {
		padding-top: 15px;
	  font-family: 'Lato', sans-serif;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 10px solid transparent;
	}
/* make gutter sizes consistent */
.flex-row  {
    padding-left: 15px;
    padding-right: 15px;
}

.highlighted {
  color: #ff0000;
}

div.thumbnail {
  background-color: #dfeccb;
}
.form-notes{
  font-style: italic;
}
.form-errors{
  color: red;
}

.form-padding {
  padding: 10px;
}

.input-block-level {
    width: 100%;
    box-sizing: border-box;
    height: 28px;
}

.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 13px;
}

.panel-body  {
   word-break:break-all
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.half {
  width: 30%;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.thumbnail,
.caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
img {
	min-width: 0;
	width: 100%;
}
