.dropdown-menu {
  float: right;
}

.form-padding {
  padding: 10px;
}

.input-block-level {
    width: 100%;
    box-sizing: border-box;
    height: 28px;
}

.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 13px;
}

.panel-body  {
   word-break:break-all
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.half {
  width: 30%;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.thumbnail,
.caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
img {
	min-width: 0;
	width: 100%;
}
